body,ul,ol,li,a,p,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form,textarea,header,footer{
	margin:0;
	padding:0;
}

ol,ul,li{
	list-style: none;
}

*{
	font-family:"PingFang SC","Microsoft Yahei";
}

input{
	border:0;
}

a{
	text-decoration: none;
	display: inline-block;
}

.clearfix:after{
	display: block;
	clear: both;
	content:'';
	overflow: hidden;
	height:0;
}